@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
}
.header{
    min-height: 58vh;
    background: url(pexels-pixabay-235985.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    position: relative;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    min-height: 8vh;
    align-items: center;
}
.nav-items{
    width: 40%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.headline{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.btn{
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn-headline{
    padding: 1rem 2rem;
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 600;
}
.database-creation{
    margin-top: 5rem;
    text-align: center;
}